/* Basic CSS for scrollable table*/
.tableFixHead {
    overflow: auto;
    height: 75%;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px 16px;
}
th     {
    background:#eee;
}

table tr td {
    /*border: 1px solid red;*/
}

/* Color setting for the critical procedures in the Dropdown*/
option.critical {
    background-color: #ff0000;
}


#main-resourceTable, #main-staffTable {
    /* Bigger drag and drop window */
    border-bottom: 150px solid #ffffff;
    width: 100%;
    min-height: 100px;
}

#staffTable, #resourceTable {
    /* Bigger drag and drop window */
    border-bottom: 150px solid #F8F9FA;
}

/* Bootstrap settings have to be changed to allow drag and drop into empty table */
tbody{
    box-sizing: unset;
}

table {
    min-height: unset;
}

