/* Basic CSS for scrollable table*/
.tableFixHead {
    overflow: auto;
    height: 75%;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
}

th     {
    background:#eee;
}

/* Color setting for the critical procedures in the Dropdown*/
option.critical {
    background-color: #ff0000;
}

/* Bigger drag and drop window for main pane tables */
#main-resourceTable, #main-staffTable {
    border-bottom: 150px;
    width: 100%;
    min-height: 100px;
    background-color: transparent;
}

/* Bigger drag and drop window for sidebar tables */
#staffTable, #resourceTable {
    border-bottom: 150px solid #F8F9FA;
}

/* Bootstrap table settings have to be changed to allow drag and drop into empty table */
tbody{
    box-sizing: unset;
}

table {
    min-height: unset;
}

/* Style for the modal sidebar table*/
table.sidebar{
    width: 100%;
}

/* Style for the staff to be replaced*/
td.replace {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}